.step-container {
    background-image: url("/assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    flex: 1;
    padding: 40px 0 0 40px;
    overflow: hidden;
    user-select: none;

    .step {
        display: flex;
        align-items: center;
        gap: 20px;

        .step__number {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: solid 1px var(--white);
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;

            &.active {
                background: var(--sky-blue);
                color: var(--denim);
                border-color: var(--sky-blue);
            }
        }

        .step__container {

            p {
                color: var(--light-blue);
                font-size: 0.8rem;
            }

            .step__description {
                color: var(--white);
                font-size: 0.95rem;
            }
        }
    }
}