/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
  width: 100%;
  flex-direction: column;
  background-color: lightgray;
}

.container {
  text-align: center;
  width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #558edd;
  margin-bottom: 1rem;
  padding: 5rem;
  font-size: 50px;
}

.advice-box {
  margin-bottom: 1rem;
}

#advice-id {
  font-weight: bold;
  color: #1e90ff;
}

#advice-text {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1c86ee;
  transform: scale(1.1);
}

.hidden {
  display: none;
  transition: transform 0.3s ease;
}

#error-message {
  color: #ff4d4d;
  margin-top: 1rem;
}

#loading-indicator {
  color: #1e90ff;
  font-style: italic;
  margin-top: 1rem;
  font-size: xx-large;
}
