.message-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.message__title {
    font-weight: 200;
}

.message__title span {
    display: block;
    font-weight: 700;
}

.message {
    color: var(--dark-navy)
}

