.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: var(--bg);
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  color: var(--blue);

  h1{
    color: var(--denim)
  }

  .landing__image-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .landing__image {
    max-width: 500px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
