.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  background: var(--bg-dropdown);
  box-shadow: 0 0 10px #00000027;
  position: absolute;
  top: 120%;
  z-index: 1001;
  text-transform: capitalize;
  animation: dropdownExpand 0.3s forwards;
}

@keyframes dropdownExpand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
