.quiz,
.quiz-completed {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  margin-bottom: auto;
}

.question-container,
.options-container {
  flex: 1;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit__btn {
  box-shadow: none;
  padding: 10px;
  background: var(--purple) !important;
  color: var(--pure-white);
  transition: opacity 0.3s ease-in-out;
}

.submit__btn:hover {
  opacity: 0.7;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__progress_bar-container {
  width: 100%;
  background: var(--pure-white);
  padding: 3px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 60px;
}

.question__progress_bar {
  background: var(--purple);
  height: 10px;
  border-radius: 10px;
}

.question__number {
  color: var(--gray-navy);
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--red);
}

.error-message img {
  width: 25px;
}

.results-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 500px;
  height: 400px;
}

.quiz-completed {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--pure-white);
  margin-bottom: 10px;
  padding: 20px;
}

@media (width <= 850px) {
  .quiz,
  .quiz-completed {
    flex-direction: column;
  }

  .question__progress_bar-container {
    margin-bottom: 0;
  }

  .question__progress_bar {
    height: 7px;
  }

  .results-container {
    width: 100%;
    margin-top: 30px;
  }
}
