.delete-modal {
  p {
    color: var(--text-secondary);
  }

  .delete-modal__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    button {
      padding: 10px 20px;
    }
  }

  .delete-success {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .delete-success__icon-container {
      background: var(--text-paid);
      border-radius: 50px;
      padding: 10px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
