// Light mode theme variables
$light-mode: (
  background: #ffffff,
  secondary: #e9e9e9,
  typography: #757575,
  highlight: #a445ed,
  warning: #ff5252,
  accent: #f4f4f4,
);

// Dark mode theme variables
$dark-mode: (
  background: #3a3a3a,
  secondary: #1f1f1f,
  typography: #f0f0f0,
  highlight: #a445ed,
  warning: #ff5252,
  accent: #2d2d2d,
);
